{% extends 'base.html.twig' %}

{% block title %}Equipement : {{ equipment.name}}{% endblock %}

{% block body %}
    <h3>Equipement: <em>{{ equipment.name}} | {{ equipment.number }}</em></h3>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipment.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ equipment.name }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ equipment.category }}</td>
            </tr>
            <tr>
                <th>Numéro</th>
                <td>{{ equipment.number }}</td>
            </tr>
            <tr>
                <th>Déscription</th>
                <td>{{ equipment.description }}</td>
            </tr>
            <tr>
                <th>Date d'ajout</th>
                <td>{{ equipment.createdAt ? equipment.createdAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de modification</th>
                <td>{{ equipment.updatedAt ? equipment.updatedAt|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col">
            <a href="{{ path('equipment_index') }}">retour à la liste</a>
        </div>
        <div class="col d-flex justify-content-end">
            <a href="{{ path('equipment_edit', {'id': equipment.id}) }}" class="btn btn-success">modifier</a>
        </div>
    </div>

    {{ include('equipment/_delete_form.html.twig') }}
{% endblock %}
